DB_LOG_SOAP/Homes_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Homes/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Homes/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="SELL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SELLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="out" type="tns:outType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
            <xsd:complexType name="outType"/>
            <xsd:element ibmSchExtn:docRoot="true" name="ROOMS">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="ROOMSResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="unbounded" minOccurs="1" name="out" type="tns:outType1"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="outType1"/>
            <xsd:element ibmSchExtn:docRoot="true" name="BEDS">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="BEDSResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="unbounded" minOccurs="1" name="out" type="tns:outType2"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="outType2"/>
            <xsd:element ibmSchExtn:docRoot="true" name="AGE">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="AGEResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="unbounded" minOccurs="1" name="out" type="tns:outType3"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="outType3"/>
        </xsd:schema>